<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-pro">
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <img  src="" alt="user-img" class="img-circle">
                        <span class="hide-menu" text=""></span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href=""><i class="ti-user"></i> My Profile</a></li>
                        <li><a href=""><i class="ti-email"></i> Inbox</a></li>
                        <li>
                            <a href="" class="dropdown-item"><i class="fas fa-key"></i> change password</a>
                        </li>
                        <li>
                            <form action="" method="post">
                                <button type="submit"><i class="fa fa-power-off"></i> Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Dashboards</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fas fa-cogs"></i>
                        <span class="hide-menu">Dashboards</span>
                    </a>
                    <ul class="collapse">
                        <li><a href="/manager">Budget</a></li>
                        <li><a href="/manager/tickets">Ticket</a></li>
                        <li><a href="/manager/lead">Lead</a></li>
                    </ul>
                </li>
                <li class="nav-small-cap">--- Google Services</li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)">
                        <i class="fab fa-google"></i>
                        <span class="hide-menu">Services</span>
                    </a>
                    <ul class="collapse">
                        <li>
                            <a href="javascript:void(0)" class="has-arrow">Gmail</a>
                            <ul class="collapse">
                                <li><a href="${home + 'employee/gmail/send'}">Compose email</a></li>
                                <li><a href="${home + 'employee/gmail/emails'}">All emails</a></li>
                                <li><a href="${home + 'employee/gmail/emails/draft'}">Draft emails</a></li>
                                <li><a href="${home + 'employee/gmail/emails/starred'}">Starred emails</a></li>
                                <li><a href="${home + 'employee/gmail/emails/sent'}">Sent emails</a></li>
                                <li><a href="${home + 'employee/gmail/emails/trash'}">Trash emails</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="has-arrow">Google calendar</a>
                            <ul class="collapse">
                                <li><a href="">All events</a></li>
                                <li><a href="">Create an event</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="has-arrow">Google Drive</a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="">files && Folders</a></li>
                                <li><a href="">Create file</a></li>
                                <li><a href="">Create folder</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>