@{
  ViewData["Title"] = "Budget-list";
}
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        @* th:if="${bindingResult != null && bindingResult.hasFieldErrors('failedErrorMessage')}" *@
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
              aria-hidden="true">&times;</span> </button>
          <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Not Allowed </h3>
          <span>
            @* th:text="${bindingResult.getFieldError('failedErrorMessage').defaultMessage}" *@
          </span>
        </div>
        <h4 class="card-title">Budgets</h4>
        <div class="table-responsive m-t-40">
          <table id="config-table" class="table display table-bordered table-striped no-wrap">
            <thead>
              <tr>
                <th>#</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Tahina Bemax</td>
                <td class="text-right">3.000Ar</td>
                <td>2025-01-01</td>
                <td>2025-01-01</td>
                <td>Service</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/library/custom.min.js" type="text/javascript"></script>
  <script src="~/js/library/jquery.toast.js"></script>
  <script src="~/js/library/toastr.js"></script>
  <!-- Editable -->
  <script src="~/js/library/jquery.dataTables.min.js"></script>
  <script src="~/js/library/dataTables.responsive.min.js"></script>
  <script>
    $('#config-table').DataTable({
      responsive: true
    });
  </script>
}